input {
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #596f62;
    padding: 10px 16px;
    width: 100%;
    margin-bottom: 12px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 4px;
}

.ss-main {
    color: #1c3144;
    border: 1px solid #596f62;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin-bottom: 12px;
}

.button {
    border-radius: 6px;
    background-color: #7ea16b;
    color: #1c3144;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}


.button .button__icon {
    display: block;
    margin-right: 8px;
}

.button:hover {
    background-color: #596f62;
    color: #fff;
}

.button .button__icon img {
    width: 24px;
    height: auto;
}

.button:hover .button__icon img {
    filter: invert(100%);
}

.error-message {
    color: #ff5900 !important;
}