/* Container Styles */
header {
    margin-top: 18px;
    margin-bottom: 18px
}

#converter-section {
    margin-top: 24px;
    margin-bottom: 24px;
}

#extra-info {
    margin-top: 32px;
    margin-bottom: 32px;
}
