<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Minita</title>
</head>
<body>
    <div id="container">
        <header>
            <h1>Minita</h1>
            <p>A currency converter platform</p>
        </header>
        <section id="converter">
            <div>
                <p><b>Choose your currency</b></p>
                <form method="get" action="#">
                    <div class="row">
                        <div class="column__one-third">
                            <label for="from" required>From</label>
                            <input type="number" name="amount" />
                            <select name="from">
                                {% for currency in currencies  %}
                                <option value="{{ currency }}">{{ currencies[currency] }} ({{ currency.upper() }})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="column__one-third">
                            <label for="to">To</label>
                            <select name="to">
                                {% for currency in currencies  %}
                                <option value="{{ currency }}">{{ currencies[currency] }} ({{ currency.upper() }})</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="submit-button">Convert</button>
                        </div>
                        <div class="column__one-third" id="answer-block">
                            {% if input == "invalid" %}
                                <div class="error-message">
                                    <p>Something went wrong. Please check your input</p>
                                </div>
                            {% elif input =="empty" %}
                                <div>
                                    <p>Click Convert to get your answer</p>
                                </div>
                            {% else %}
                                <div id="answer">
                                    {{ result['amount'] }} {{ result['currency_from'] }}
                                    = <br/> {{ result['converted_amount'] }} {{ result['currency_to'] }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section id="extra-info">
            <div class="row">
                <div class="column__half">
                    <p><b>Relevant price data over the past week</b></p>
                    {% if input == "valid" %}
                    <div id="price-chart__container">
                        <canvas id="price-chart"></canvas>
                    </div>
                    {% else %}
                    <p>Chart can only show after converting</p>
                    {% endif %}
                </div>
                <div class="column__half">
                    <p><b>Relevant News</b></p>
                    <div class="news-section">
                        <h3 class="news-section__title">As usual, crazy things are happening</h3>
                        <p class="news-section__meta">August 20, 2024</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% if input == "valid" %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% endif %}
</body>
</html>